* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    font-size: 16px;
    --small-spacing: 8px;

    --primary-accent: #39D374;
    --primary-accent-dark: #2C564A;
    --very-dark: #1f2c28;
    --secondary-accent: #917A6A;
    --tertiary: #ACABB3;

}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-accent);
    
    box-shadow: 
              0px 3px 6px #0003;
              
    }
    header nav {
        margin: 16px;
    }
    header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        }
        header ul i {
            font-size: 1rem;
            color: var(--very-dark);
}

#clock-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    }

    section #clock {
        width: 50vw;
        height: 50vw;

        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow:
            inset 0 0 0 5px white,
            inset 0 0 0 7px var(--primary-accent),
            inset 0 0 0 12px white,

            inset 0 3px 6px 12px #0003,
                  0 3px 6px #0003;
        }

        span {
            font-size: 8vw;
            color: var(--very-dark);
            text-shadow: 0 2px 5px #0003;
        }

#inventory-section {
    margin: 40px 0;
    padding: 0 16px;
    line-height: 2rem;
    font-size: 1.25rem;
    color: var(--very-dark);
    }
    #inventory-section>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 2px 5px 2px #0003;
    }
    #inventory-section h3 {
        grid-column: span 2;
        text-align: center;
        background-color: var(--primary-accent);
        padding: 10px;
    }
    .product-name {
        padding: 4px 12px;
    }
    .product-quantity {
        padding: 4px 12px;
        text-align: right;
    }