body {
    background-color: rgb(235, 235, 235);
    
}

.item .unique-items {
    display: none;
}
   
.item.collapsed .unique-items {
    display: block;
}

.unique-items>div {
    height: 21px;
    display: flex;
    align-items: stretch;
    margin-bottom: -1px;
}

.unique-items>div>* {
    margin-right: -1px;
}
#dataContainer>div {
margin-top: 8px;
}

#dataContainer>div>input {
    min-width: 518px;
    background-color: lightgray;
    outline: solid 1px gray;
    border: solid 1px rgb(255, 255, 255);
    color: black;
    min-height: 17px;
    padding: 0;
}

textarea {
    min-width: 562px;
    min-height: 100px;
    display: block;
    margin-bottom: 24px;
}
#scan-button {
margin-bottom: 20px;
}

button {
    min-width: 24px;
}
.unique-items select {
    padding: 0;
}
.unique-items input {
    padding: 0;
}


.unique-items {
    margin-left: 23px;
    box-shadow: 2px 2px 2px #0008;
    width: 544px;
}
#dataContainer>div>* {
    box-shadow: 2px 2px 2px #0008;
}
#recipes-container {
    border: solid gray 1px;
    width: 519px;
    min-height: 16px;
    padding: 8px 24px;
    margin: 0;
}
#scan-button {
    display: block;
}
h3 {
    margin-bottom: 0;
}

#add-item {
    margin-bottom: 8px;
}
div#suggestionsPanel {
    position: absolute;
    border: 1px solid #d4d4d4;
    background: white;
    z-index: 100;
}

div#suggestionsPanel div {
    padding: 10px;
    cursor: pointer;
}

div#suggestionsPanel div:hover {
    background-color: #f0f0f0;
}
.autocomplete-suggestion {
    cursor: pointer;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 2px;
    background-color: white;
    display: inline-block;
    width: auto;
    max-width: 300px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}