.item .unique-items {
    display: none;
   }
   
   .item.collapsed .unique-items {
    display: block;
   }

   .unique-items>div {
    margin-left: 23px;
    }

#dataContainer>div>input {
    min-width: 528px;
    background-color: lightgray;
    outline: solid 1px gray;
    border: solid 1px rgb(255, 255, 255);
}

   #export-container {
    margin: 24px 0;
    display: flex;
   }
   .unique-items select {
    min-height: 21px;
   }
   #jsonOutput {
    min-width: 486px;
   }
